<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.ums.mapper.UserGroupMapper">
    <resultMap id="BaseResultMap" type="com.global.ums.entity.UserGroup">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="parent_user_id" property="parentUserId" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, parent_user_id
    </sql>
</mapper> 